@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
/*font-family: 'Ubuntu Mono', monospace;*/
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.nav-bar {
  background-color: #131313;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.content {
	padding-top: 2%;
}

.menu-btn {
  display: none;
  cursor: pointer;
}

/*hiding the menu-toggle*/
#menu-toggle {
  display: none;
}

.menu-btn span {
  display: block;
  width: 30px;
  height: 3px;
  margin: 5px;
  background-color: white;
  transition: transform 0.2s ease-out;
}

#menu-toggle:checked + .menu-btn span:nth-of-type(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

#menu-toggle:checked + .menu-btn span:nth-of-type(2) {
  opacity: 0;
}

#menu-toggle:checked + .menu-btn span:nth-of-type(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: row; /* change the flex-direction to row */
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 10px;
}

.nav-links li a {
  display: block;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  background-color: #131313;
  font-family: 'Quicksand', sans-serif;
}

.nav-links li a:hover {
  color: #ffb933;
  font-family: 'Quicksand', sans-serif;
}

#name {
	color: orange;
	position: relative;
	margin: 0% 10% 0% 0%;
	font-family: 'Shadows Into Light', cursive;
}


.intro {
  width: 100%;
  height: 100vh;
  z-index: 1;
  background-image: url('./back.png');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

#intro-text {
  font-family: 'Quicksand', sans-serif;
  font-size: 5em;
  color: white;
  position: absolute;
  top: 25%;
  left: 10%;
  z-index: 0;
}

.intro p {
  font-family: 'Shadows Into Light', cursive;
  font-size: 2em;
  position: absolute;
  top: 45%;
  left: 10%;
}

.btn {
  width: 9%;
  height: 6vh;
  border-radius: 5px;
  position: relative;
  top: 65%;
  left: 10%;
  margin-right: 2%;
  transition: 0.3s ease-out;
}

#resume-btn {
  background-color: #C55C00;
  color: white;
}

#hire-btn {
  background-color: white;
  color: black;
}

.intro button:hover {
  font-size: 1em;
  cursor: pointer;
}

.card {
/*  background-color: #131313;*/
  background-color: white;
/*  border: 2px solid black;*/
  height: 100vh;
  width: 100vw;
}

.card-heading {
  font-family: 'Shadows Into Light', cursive;
  color: #C55C00;
  font-size: 5em;
  position: relative;
  top: 0.5em;
  left: 1em;
}

.card img {
  width: 35vw;
  border-radius: 50%;
  position: relative;
  bottom: 15%;
}

.card ul {
  list-style: none;
  font-family: 'Quicksand', sans-serif;
  position: relative;
  left: 5vw;
  top: 5vh;
  font-size: 3vh;
}

.grid-container {
  display: grid;
  grid-template-rows: 50%;
  grid-template-columns: 40% 50%;
  grid-gap: 10%;
  position: relative;
  top: 2em;
}

.grid-container2 {
  display: grid;
  grid-template-rows: 50%;
  grid-template-columns: 40% 40%;
  position: relative;
  top: 2em;
}

.g1-item1 {
  padding: 2vw;
}

.g2-item1 {
  margin: 5vw;
}

.g2-item2 {
  height: 70vh;
  padding: 2vw;
}

#edu, #proj, #cnct {
  margin-left: 40vw;
}

@media (max-width: 900px) {
  .menu-btn {
    display: block;
  }

  .content {
    padding-top: 3vh;
  }

  #name {
    color: orange;
    position: relative;
    margin: 0% 30% 0% 0%;
    font-family: 'Shadows Into Light', cursive;
  }

  .nav-bar {
    width: 100vw;
    box-sizing: border-box;
    background-color: #131313;
    position: fixed;
    top: 0;
    z-index: 999;
  }

  .nav-links {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100vw;
    background-color: #131313;
    flex-direction: column;
  }

  .nav-links li {
    margin: 5px;
  }

  .nav-links li a {
    display: block;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    background-color: #131313;
    font-family: 'Quicksand', sans-serif;
  }

  .nav-links li a:hover {
    color: #ffb933;
    font-family: 'Quicksand', sans-serif;
  }

  #menu-toggle:checked + .menu-btn + .nav-links {
    display: flex;
  }


}
